<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tech.imagecorebackenduserservice.infrastructure.mapper.MessageMapper">

    <resultMap id="BaseResultMap" type="com.tech.imagecorebackendmodel.user.entity.Message">
            <id property="id" column="id" />
            <result property="userId" column="userId" />
            <result property="content" column="content" />
            <result property="messageType" column="messageType" />
            <result property="messageState" column="messageState" />
            <result property="senderId" column="senderId" />
            <result property="createTime" column="createTime" />
            <result property="editTime" column="editTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,content,messageType,messageState,senderId,
        createTime,editTime,updateTime,isDelete
    </sql>

    <update id="updateReadByUser">
        UPDATE message
        SET messageState = #{messageStatus}
        WHERE userId = #{userId}
    </update>
</mapper>
