<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tech.imagecorebackendpictureservice.infrastructure.mapper.PictureCommentMapper">

    <resultMap id="BaseResultMap" type="com.tech.imagecorebackendmodel.picture.entity.PictureComment">
            <id property="id" column="id" />
            <result property="userId" column="userId" />
            <result property="pictureId" column="pictureId" />
            <result property="targetId" column="targetId" />
            <result property="content" column="content" />
            <result property="createTime" column="createTime" />
            <result property="editTime" column="editTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,pictureId,targetId,content,createTime,
        editTime,updateTime,isDelete
    </sql>
</mapper>
